SMTP_CONNECTION_STRING=smtp://localhost:1587
DATA_DIR_ROOT=./.tmp/data
POSTFIX_DIR_ROOT=./.tmp/development-docker-data/postfix
DOCUMENT_ROOT=/WHEREVER/feedsubscription.com/dist
NODE_ENV=development
DOMAIN_NAME=feedsubscription.com
SMTP_IN_SASL_PASSWORD=
PADDLE_CLIENT_TOKEN=test_...
PADDLE_API_KEY=...
PADDLE_WEBHOOK_SECRET=...
MAKE_DEBUG=
RCLONE_PATH=
