node_modules/
src/api/web-ui-scripts/
website/html/
.tmp/
.env
dist/
.goaccess/
bot-list.txt
.claude/settings.local.json

# This is for prod only, where backup is run from a cron job with HOME=~/src/rss-email-subscription
.rclone.conf
