x-logging: &logging
  logging:
    driver: syslog
    options:
      syslog-address: tcp://10.5.5.1:514
      syslog-format: rfc3164
      tag: '{{.Name}}'

x-app-env: &app-env
  TZ: UTC
  DOMAIN_NAME: ${DOMAIN_NAME?}
  DATA_DIR_ROOT: /data
  NODE_ENV: ${NODE_ENV?} #See https://github.com/nodejs/docker-node/blob/main/docs/BestPractices.md
  # DEBUG: '*' # Useful for debuggind Express.js routing
  SMTP_CONNECTION_STRING: ${SMTP_CONNECTION_STRING?}
  STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY?}
  STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY?}
  STRIPE_ENABLED: ${STRIPE_ENABLED?}

x-disable-ipv6: &x-disable-ipv6
  sysctls:
    net.ipv6.conf.all.disable_ipv6: 1
    net.ipv6.conf.default.disable_ipv6: 1
    net.ipv6.conf.lo.disable_ipv6: 1

x-dns: &x-dns
  dns: 10.5.5.2

services:
  smtp-out:
    depends_on:
      logger:
        condition: service_healthy
      resolver:
        condition: service_healthy
    container_name: smtp-out
    hostname: smtp-out
    image: smtp-out
    restart: always
    ports: ['127.0.0.1:1587:587']
    volumes:
      - ./.tmp/opendkim-keys:/etc/opendkim/keys
      - ${POSTFIX_DIR_ROOT?}:/var/spool/postfix # to persist queue during container restarts
    environment:
      TZ: UTC
      ALLOWED_SENDER_DOMAINS: feedsubscription.com
      POSTFIX_myhostname: feedsubscription.com
      POSTFIX_notify_classes: 'bounce,resource,software'
      POSTFIX_message_size_limit: 10485760 # 10M
      POSTFIX_virtual_alias_domains: feedsubscription.com
      POSTFIX_virtual_alias_maps: 'texthash:/etc/postfix/virtual'

      POSTFIX_transport_maps: 'texthash:/etc/postfix/transport'

    <<: [*logging, *x-disable-ipv6, *x-dns]
    healthcheck:
      disable: true # Disabled because makes it makes following the logs harder when degugging
    networks:
      net:
        ipv4_address: 10.5.5.9

  smtp-in:
    depends_on:
      logger:
        condition: service_healthy
      resolver:
        condition: service_healthy
    container_name: smtp-in
    hostname: smtp-in
    image: smtp-in
    ports: ['25:25']
    restart: always
    volumes:
      - ./.tmp/smtp-in/opendkim-keys:/var/db/dkim/
      - ./.tmp/certbot/conf/live/feedsubscription.com/fullchain.pem:/etc/postfix/cert/smtp.cert:ro
      - ./.tmp/certbot/conf/live/feedsubscription.com/privkey.pem:/etc/postfix/cert/smtp.key:ro
    environment:
      SMTP_IN_SASL_PASSWORD: ${SMTP_IN_SASL_PASSWORD?}
    <<: [*logging, *x-disable-ipv6, *x-dns]
    networks:
      net:
        ipv4_address: 10.5.5.8

  app:
    depends_on:
      logger:
        condition: service_healthy
      resolver:
        condition: service_healthy
    container_name: app
    hostname: app
    image: app
    init: true # This is to tell Node process to stop when the container is asked to stop.
    restart: always
    volumes:
      - ${DATA_DIR_ROOT?}:/data
    # NOTE: This doesn’t work, and I’m not fixing it now because I don’t
    # know how, and it’s not worth the effort of further investigation.
    # extra_hosts:
    #   - 'feedsubscription.com:207.154.253.211'
    environment:
      <<: *app-env
    command: node dist/app/cron.js
    <<: [*logging, *x-disable-ipv6, *x-dns]
    networks:
      net:
        ipv4_address: 10.5.5.7

  delmon:
    depends_on:
      logger:
        condition: service_healthy
      resolver:
        condition: service_healthy
    container_name: delmon
    hostname: delmon
    image: delmon
    init: true # This is to tell Node process to stop when the container is asked to stop.
    restart: always
    volumes:
      - .tmp/logs/feedsubscription:/logs:ro
      - ${DATA_DIR_ROOT?}:/data
    environment:
      <<: *app-env
    <<: [*logging, *x-disable-ipv6, *x-dns]
    networks:
      net:
        ipv4_address: 10.5.5.6

  api:
    depends_on:
      logger:
        condition: service_healthy
      resolver:
        condition: service_healthy
    container_name: api
    hostname: api
    image: app
    init: true # This is to tell Node process to stop when the container is asked to stop.
    restart: always
    command: node dist/api/server.js
    volumes:
      - ${DATA_DIR_ROOT?}:/data
    environment:
      # DEBUG: 'express:*'
      # TS_NODE_DEBUG: 'true'
      <<: *app-env
    <<: [*logging, *x-disable-ipv6, *x-dns]
    networks:
      net:
        ipv4_address: 10.5.5.5

  # Thanks to https://github.com/wmnnd/nginx-certbot
  website:
    depends_on: [api]
    container_name: website
    hostname: website
    image: website
    restart: always
    ports: ['80:80', '443:443']
    volumes:
      - ./website/html:/usr/share/nginx/html:ro
      - ./website/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./.tmp/certbot/conf:/etc/letsencrypt
      - ./.tmp/certbot/www:/var/www/certbot
    environment:
      NGINX_HOST: feedsubscription.com
    <<: [*logging, *x-disable-ipv6, *x-dns]
    networks:
      net:
        ipv4_address: 10.5.5.4

  # Thanks to https://github.com/wmnnd/nginx-certbot
  certbot:
    depends_on:
      logger:
        condition: service_healthy
      resolver:
        condition: service_healthy
    container_name: certbot
    hostname: certbot
    image: certbot
    restart: always
    volumes:
      - ./.tmp/certbot/conf:/etc/letsencrypt
      - ./website/html:/var/www/certbot
    entrypoint: >-
      /bin/sh -c '
        certbot --version;
        exec crond -f -d 8;
      '
    <<: [*logging, *x-disable-ipv6, *x-dns]
    networks:
      net:
        ipv4_address: 10.5.5.3

  logger:
    container_name: logger
    hostname: logger
    image: logger
    restart: always
    volumes:
      - ./.tmp/logs:/var/log/syslog-ng
    <<: [*x-dns]
    healthcheck:
      test: ['CMD-SHELL', 'nc -z -w1 127.0.0.1 514']
      interval: 5s
      timeout: 3s
      retries: 2
    networks:
      net:
        ipv4_address: 10.5.5.1

  resolver:
    depends_on:
      logger:
        condition: service_healthy
    hostname: resolver
    image: resolver
    container_name: resolver
    restart: always
    volumes:
      - ./.tmp/resolver/etc/hosts:/etc/hosts:ro
    networks:
      net:
        ipv4_address: 10.5.5.2
    <<: [*logging, *x-disable-ipv6]
    healthcheck:
      test: ['CMD-SHELL', 'pidof dnsmasq >/dev/null']
      interval: 5s
      timeout: 3s
      retries: 2

networks:
  net:
    enable_ipv6: false # Trying to simplify the DNS issue context
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.5.0/24
          gateway: 10.5.5.100
