SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# Run weekly, just before certbot-report (which runs @weekly = 0 0 * * 0)
55 23 * * 6 certbot renew >/proc/1/fd/1 2>/proc/1/fd/2
